<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvFormatFactory" class="ru.vasiliyplatonov.homework1.service.CSVFormatFactory">
        <constructor-arg name="initialCSVFormat" value="DEFAULT"/>
    </bean>

    <bean id="csvFormat"
          class="org.apache.commons.csv.CSVFormat"
          factory-method="create"
          factory-bean="csvFormatFactory">
        <constructor-arg name="headers">
            <array value-type="java.lang.String">
                <value>question</value>
                <value>a</value>
                <value>b</value>
                <value>c</value>
                <value>d</value>
                <value>answer</value>
            </array>
        </constructor-arg>
    </bean>


    <bean id="quizFactory" class="ru.vasiliyplatonov.homework1.service.quizfactory.CsvQuizFactory">
        <constructor-arg name="csvFormat" ref="csvFormat"/>
    </bean>

    <bean id="quizController" class="ru.vasiliyplatonov.homework1.controller.QuizControllerImpl">
        <constructor-arg name="quizFile" value="classpath:quiz/quiz1.csv"/>
        <constructor-arg name="quizFactory" ref="quizFactory"/>
    </bean>

</beans>
